.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 35px solid rgb(235, 182, 76);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#f9dc7d, #E0F6FF);
  z-index: -5;
}

.flower {
  position: absolute;
  bottom: 0;
  margin-bottom: -54px;
  width: 701px;
  animation: flower-animation 6s infinite linear;
  z-index: -1;
  
}


.flor {

  position: absolute;
  bottom: 0;
  margin-bottom: -54px;
  width: 500px;
  animation: flor-animation 6s infinite linear;
  z-index: -1;

}

.block {

  position: absolute;
  bottom: 0;
  margin-bottom: 300px;
  width: 60px;
  animation: block-animation 6s infinite linear;
  z-index: 0;

}

.enemy {

  position: absolute;
  bottom: 0;
  margin-bottom: -70px;
  width: 300px;
  animation: pipe-animation 4s infinite linear;
  z-index: -1;

}

.clouds {

  position: relative;
  width: 150px;
  padding-top: 30px;
  animation: clouds-animation 10s infinite linear;

}



.pipe {

  position: absolute;
  bottom: 0;
  margin-bottom: -14px;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
  z-index: 0;

}

.linha {

  width: 100%;
  height: 20%;
  padding-top: 25.95%;
  z-index: 10;

}

.coin {

  position: absolute;
  top: 6%;
  width: 40px;
  animation: coin-animation 99s infinite linear;

}
 
.wood {

  position: absolute;
  top: 6%;
  width: 40px;
  animation: wood-animation 99s infinite linear;

}

.rock {

  position: absolute;
  top: 6%;
  width: 40px;
  animation: rock-animation 99s infinite linear;

}



.mario {

  width: 150px;
  position: absolute;
  bottom: 0;
  margin-bottom: -14px;

}


.jump {

  animation: jump-mario 500ms ease-out;

}

@keyframes block-animation {

  from {
    right: -1500px;
  }

  to {
    right: 150%;
  }

}

@keyframes enemy {

  from {
    right: -2500px;
  }

  to {
    right: 150%;
  }


}

@keyframes clouds-animation {

  from {
    right: -1200px;
  }

  to {
    right: 100%;
  }

}


@keyframes coin-animation {

  from {
    left: 5%;
  }

  to {
    left: 5%;
  }

}

@keyframes wood-animation {

  from {
    left: 8%;
  }

  to {
    left: 8%;
  }

}

@keyframes rock-animation {

  from {
    left: 11%;
  }

  to {
    left: 11%;
  }

}

@keyframes flower-animation {

  from {
    right: -100%;
  }

  to {
    right: 100%;
  }

}


@keyframes flor-animation {

  from {
    right: -150%;
  }

  to {
    right: 100%;
  }

}


@keyframes pipe-animation {

  from {
    right: -80px;
  }

  to {
    right: 100%;
  }

}

@keyframes jump-mario {

  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }

}